language: android

sudo: false

jdk: oraclejdk8

notifications:
  email:
    - sebastian.kacprzak@byoutline.com
    - michal.piekarski@byoutline.com

env:
  matrix:
    - ANDROID_TARGET=android-14  ANDROID_ABI=armeabi-v7a

android:
  components:
    - tools
    - build-tools-27.0.2
    - build-tools-26.0.2 # Why spoon plugin, why?
    - platform-tools
    - extra-google-m2repository
    - extra-android-m2repository
    - android-27

licenses:
    - 'android-sdk-license-.+'

before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo "8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  # workaround for https://github.com/travis-ci/travis-ci/issues/8874
  - yes | sdkmanager "platforms;android-27"

script: ./gradlew build  #connectedCheck- espresso test  run on Circle CI